<!doctype html>
<html lang="en">
  <head>
      <% include Partials/head.ejs %>
    
  </head>

  <body>
 <% include Partials/header.ejs %>

<div id="hero-image-notFound">
    <h1 id = "hero-title"><%=title %></h1>
      
</div>
 
    <% include Partials/scripts.ejs %>
    <% include Partials/footer.ejs %>
      </body>
</html>